In [ ]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

In [ ]:
#solution 1:

In [19]:
m = ("mono",[2,1],5.7,(1,2,3))
m
type(m)

tuple

In [ ]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.

In [ ]:
#solution 2:

In [ ]:
var2 = ‘[ DS , ML , Python]’  #invalid

In [ ]:
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] #invalid

In [20]:
var4 = 1
type(var4)

int

In [ ]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [ ]:
#solution 3:

In [21]:
10/2  #dividing 10 by 2 and getting the answer as float
type(10/2)

float

In [22]:
10%3      #modulus, when 10 is divided by 3, the remainder is 1

1

In [23]:
10//2        #dividing 10 by 2 and getting the answer 5 as integer.
type(10//2)

int

In [24]:
5**2  #square of 5

25

In [ ]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [ ]:
#solution 4:

In [25]:
l1 = [3, 4+7j, "Monoliza", True, 4.9]
for k in l1:
    print(type(k))

<class 'int'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [ ]:
#solution 5:

In [26]:
A = 10
B = 2
count = 0
while A%B == 0:
    A = A/B
    count += 1
if count > 0:
    print("number A is divisible by number B", count, "times")
else:
    print("number A is divisible by number B")

number A is divisible by number B 1 times

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [ ]:
#solution 6:

In [27]:
l = [2,3,7,9,12,13,18,14,23,24,28,29,30,33,36,39,41,45,47,48,56,69,62,90,99]
for i in l:
    print(i)
if i%3==0:
    print("number is divisible by 3")
else:
    print("number is not divisible by 3")

2
3
7
9
12
13
18
14
23
24
28
29
30
33
36
39
41
45
47
48
56
69
62
90
99
number is divisible by 3

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property

In [ ]:
#solution 7:

In [ ]:
#list is mutable, i.e. it enables assignment and changing of a particular data.
#string is immuatble, i.e. it doesnot enable assignment or chaning of a particular data.

In [13]:
m = "mono"
m
m[2] = p   #invalid

NameError: name 'p' is not defined

In [28]:
lis_t = [1,2.3,4+1j,"momo",9]
lis_t
lis_t[3] = "WOW"
lis_t

[1, 2.3, (4+1j), 'WOW', 9]